.productCard {
    height: auto;
    border-radius: 12px;
    border: 1px solid #999;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    gap: 8px;
  }
  
  .productCard .img-container {
    width: 100%;
    height: 240px;
  }
  .productCard .img-container img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  
  .productCard .name {
    font-weight: 400;
    color: #000;
  }
  .productCard .price {
    font-weight: 400;
    color: #000;
  }
  .des {
    text-overflow: ellipsis;
    color: #000;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }
  