.shopping-cart{
 padding: 30px 100px;
}
.similar-text{
    text-align: center;
    padding-top: 80px;
}
.cart{
    display: flex;
    gap: 30px;
}
.total-text{
    width: 300px;
    display: flex;
    justify-content: space-around;
}

@media (min-width:370px) and (max-width:768px){
.cart{
    display: flex;
    flex-direction: column;
}

}