.shopping-cart{
 padding: 30px 100px;
}
.similar-text{
    text-align: center;
    padding-top: 80px;
}
.cart{
    display: flex;
    gap: 50px;
}
.total-text{
    padding-bottom: 10px;
    display: flex;
    gap: 10px;
    /* justify-content: space-between; */
}
.cart-checkout{
    align-self: self-end;
}



@media (min-width:370px) and (max-width:768px){
.cart{
    display: flex;
    flex-direction: column;
}

}